.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  color: #444;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-toggler {
  display: none;
}

.navbar-brand {
  font-size: 24px;
  margin-left: auto;
  flex-grow: 1;
  text-align: center;
  color: #7e59e7;
  font-weight: 600;
}

.navbar-icons {
  display: flex;
  list-style-type: none;
  margin-right: 10px;
  gap: 5px;
}

.navbar-icons .icon {
  color: #444;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
}

.navbar-icons .icon:hover {
  color: #000;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
  }
  .navbar-toggler {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #444;
    cursor: pointer;
    flex-grow: 1;
    text-align: start;
  }
}
